body {
    padding-top: 50px;
    background-color: #f3f3f4 !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #eee;
}

.container .text-muted {
    margin: 20px 0;
}

.text-muted {
    color: #777;
}

.v-cloak-loading {
    display: none;
    text-align: center;
}

.v-cloak-loading img {
    margin-top: 20px;
    width: 46px;
}

[v-cloak] .v-cloak-loading {
    display: block !important;
}

[v-cloak] .v-cloak-content {
    display: none;
}

.content-container {
    margin-top: 20px;
}

.metric-widget {
    width: 100%;
    height: 270px;
}

.panel-body {
    min-height: 300px;
    position: relative;
}

.status-widget {
    border-radius: 5px;
    padding: 15px 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.status-widget .lastupdate {
    float: right;
}

.status-widget .title {
    font-size: 30px;
}

.status-up {
    background-color: #1ab394;
    color: #ffffff;
}

.status-down {
    background-color: #ed5565;
    color: #ffffff;
}

.status-green {
    background-color: #23c6c8;
    color: #ffffff;
}

.status-blue {
    background-color: #1c84c6;
    color: #ffffff;
}

.status-yellow {
    background-color: #f8ac59;
    color: #ffffff;
}

.clickable {
    cursor: pointer;
}

.add-new {
    padding-top: 30px;
}

.add-new .fa {
    font-size: 1.5em;
}

.add-new a,
.add-new a:visited {
    color: #777;
}

.add-new a :hover {
    color: #777;
}

@media (max-width: 767px) {
    .add-new {
        display: none !important;
    }
}