.detail .status-widget {
    margin-bottom: 20px;
}

.number {
    font-weight: bold;
    font-size: 90px;
    font-family: 黑体 !important;
    text-align: center;
    padding-top: 60px;
}

.forewarning-icon {
    margin-right: 10px;
}

@media (max-width: 767px) {
    .operations {
        display: none !important;
    }
}